@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Inter-Regular.woff2")format("woff2"), 
    url("/fonts/Inter-Regular.woff")format("woff");
}

body, html {
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

body {
    background: #000012;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

*, :before, :after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 16px;
}

.btn-download, 
.btn-buy-key {
    background: linear-gradient(92.13deg, #7B50FF -0.19%, #835AFF 96.88%), #1D1D2D;
    box-shadow: inset 0px 0px 46px rgba(255, 255, 255, 0.16), inset 0px -2px 8px rgba(255, 255, 255, 0.16), inset 0px 2px 8px rgba(255, 255, 255, 0.16);
    border-radius: 74px;
    text-decoration: none;
    padding: 12px 20px;
    display: block;
    width: 262px;
    line-height: 24px;
}

.btn-buy-key {
    width: 153px;
}

.btn-download__text, 
.btn-buy-key__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-download__text svg {
    margin-top: -6px;
}

.btn-download:hover,
.btn-buy-key:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14)), linear-gradient(92.13deg, #7B50FF -0.19%, #835AFF 96.88%), #1D1D2D;
}

.text--violet {
    color: #835AFF;
}

/* HEADER */

.header {
    margin-top: 20px;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 48px;
}

.logo__name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-left: 16px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu__item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu__item:hover {
    color: #835AFF;
}

.menu__item:first-child {
    margin-right: 32px;
}

/* APP STORE */

.app-store {
    margin-top: 60px;
    position: relative;
}

.app-store__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.8px;
    margin: 0 auto 52px;
    max-width: 508px;
}

.app-store .btn-download {
    margin: 0 auto;
}

.app-store__img {
    width: 80px;
    position: absolute; 
    background: #080826;
    filter: blur(6px);
    border-radius: 16px;
}

.app-store__img--sber {
    top: 28px;
    left: 104px;
}

.app-store__img--tinkoff {
    top: 236px;
    left: 0;
}

.app-store__img--alpha {
    top: 28px;
    right: 104px;
}

.app-store__img--otkritie {
    top: 236px;
    right: 0;
}

.app-store__img--iphone {
    position: relative;
    width: 420px;
    margin: 97px auto 0;
    z-index: 2;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.app-store__blur {
    background: #835AFF;
    filter: blur(111.5px);
    border-radius: 48px;
    max-width: 356px;
    height: 257px;
    position: absolute;
    top: 565px;
    left:0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}


/* HOW USE */

.how-use {
    margin-top: 160px;
}

.how-use__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.8px;
    max-width: 808px;
    margin: 0 auto;
}

.how-use__line {
    display: flex;
    position: relative;
}

.how-use__line--first {
    margin-top: 40px;
    justify-content: space-between;
}

.how-use__item {
    background: #0A0A26;
    border-radius: 48px;
    max-width: 392px;
    position: relative;
    margin-right: 24px;
}

.how-use__item:last-child{
    margin-right: unset;
}

.how-use__item--first {
    display: flex;
    max-width: 808px;
    overflow: hidden;
    background-image: url("/images/bg_line.png");
    background-repeat: no-repeat;
    background-size: 808px;
    background-position: 0 0;
}

.item__left {
    width: 444px;
    padding: 40px 0px 40px 40px;
}

.how-use__item--first .how-use__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
}

.how-use__item--first .how-use__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;    
    letter-spacing: -0.8px;
    text-align: left;
}

.item__right {
    width: 412px;
    padding-top: 47px;
    margin-left: -48px;
}

.how-use__item--second {
    padding: 40px 27px 84px 40px;
    background-image: url("/images/key.png");
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: 202px 167px;
    margin-right: unset;

}

.how-use__item--second .how-use__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: -0.8px;
    text-align: left;
}

.how-use__item--second .how-use__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
}

.how-use__item--second .how-use__img {
    position: absolute;
    width: 190px;
    bottom: 0;
    right: 0;
}

.how-use__item--blur {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(12px);
    position: absolute;
    padding: 99px 56px 98px;
    right: 0;
}

.work-bug {
    background: #0A0A26;
    box-shadow: 0px 4px 64px rgba(255, 255, 255, 0.12);
    border-radius: 24px;
    padding: 24px;
    text-align: center;
}

.work-bug__image {
    width: 44px;
    margin: 0 auto 4px;
}

.work-bug__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.how-use__line--second {
    flex-wrap: wrap;
    margin-top: 24px;
}

.how-use__line--second .how-use__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 40px 71px;
}

.how-use__blur {
    position: absolute;
    width: 210px;
    height: 75px;
    background: #835AFF;
    filter: blur(111.5px);
    border-radius: 176px;
    top: -32px;
    left: 91px;
    right: 91px;
}


.how-use__line--second .how-use__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
}

.how-use__line--second .how-use__img {
    width: 250px;
}

/* FAQ */

.faq {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}

.faq_left {
    max-width: 600px;
}

.faq_left__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin: 0 0 32px 0;
}

.faq_right  {
    background: #0A0A26;
    border-radius: 48px;
    max-width: 600px;
}

.faq-accordion {
    padding: 40px;
}

.faq-accordion__line {
    height: 1px;
    background: #1D1D2D;
    margin: 24px 0;
}

.faq-accordion__btn {
    background: #0A0A26;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.faq-accordion__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.faq-accordion__img {
    min-width: 40px;
}

.faq-accordion__btn:not(.collapsed) .faq-accordion__img img {
    transform: rotate(90deg);
}

.faq-accordion__body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 12px;
}

/* FOOTER */

.footer {
    padding-bottom: 32px;
    padding-top: 32px;
    margin-top: 160px;
    position: relative;
}

.footer::before {
    position: absolute;
    content: "";
    border-top: 1px solid #1D1D2D;
    width: 100%;
    top: 0;
}

.logo-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.4;
}

@media screen and (max-width: 1256px) {
    .how-use__line--first {
        flex-direction: column;
    }
    
    .how-use__item--second {
        margin-top: 12px;
    }

    .how-use__item--blur {
        right: unset;
        bottom: 0;
    }

    .how-use__line--second .how-use__item:last-child {
        margin-top: 12px;
    }
}


@media screen and (max-width: 992px) {
    
    .app-store__img--sber {
        top: 28px;
        left: 55px;
    }
    
    .app-store__img--alpha {
        top: 28px;
        right: 55px;
    }

    .faq {
        flex-direction: column;
    }

    .faq_left {
        margin-right: unset;
    }

    .faq_right {
        margin-top: 24px;
    }
}

@media screen and (max-width: 863px) {

    .how-use__line--first {
        align-items: center;
    }

    .how-use__line--second {
        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
        margin-top: unset;
    }

    .how-use__item--first {
        flex-direction: column;
        max-width: 392px;
        background-size: unset;
        background-position: 0 0;
        margin-right: unset;
    }

    .item__left {
        width: unset;
        max-width: 392px;
        padding: 20px 33px 0 31px;
    }

    .item__right {
        max-width: 412px;
        margin-left: unset;
        width: unset;
    }

    .how-use__line--second .how-use__item {
        margin-top: 12px;
        margin-right: unset;
    }
}

@media screen and (max-width: 768px) {
    
    .container {
        width: 100%;
    }

    .app-store {
        margin-top: 48px;
    }
    
    .banks {
        display: flex;
        margin: 32px auto 0;
        justify-content: center;
    }

    .app-store__title {
        font-size: 48px;
        line-height: 46px;
        max-width: 328px;
    }
    
    .app-store__img {
        width: 56px;
        position: relative; 
        background: #080826;
        filter: blur(6px);
        border-radius: 16px;
        margin-right: 12px;
        margin-left: 12px;
    }
    
    .app-store__img--sber,
    .app-store__img--tinkoff,
    .app-store__img--alpha,
    .app-store__img--otkritie {
        top: unset;
        right: unset;
        left: unset;
    }

    .app-store__img--iphone {
        position: relative;
        width: 328px;
        margin: 56px auto 0;
        filter: unset;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
    }
    
    .how-use {
        margin-top: 56px;
    }

    .how-use__title {
        font-size: 48px;
        line-height: 46px;
        max-width: 328px;
    }
    
    .how-use__item--first .how-use__title {
        font-size: 32px;
        line-height: 36px;    
    }

    .how-use__item--blur {
        padding: 82px 32px 81px;
    }

    .how-use__line--second .how-use__item {
        overflow: hidden;
        padding: 32px 39px;
    }

    .how-use__item--second {
        padding: 20px 24px 121px;
        background-size: 179px;
        background-position: 148px 133px;
        margin-right: unset;    
    }
    
    .how-use__item--second .how-use__title {
        font-size: 32px;
        line-height: 36px;
    }
    
    .how-use__item--second .how-use__text {
        margin-top: 12px;
        margin-bottom: 24px;
    }

    .app-store__blur {
        max-width: 356px;
        top: 465px;
    }

    .faq {
        align-items: center;
        margin-top: 56px;
    }

    .faq_left {
        text-align: center;
    }

    .faq_left__title {
        font-size: 48px;
        line-height: 46px;
    }

    .faq .btn-download {
        margin: 0 auto;
    }

    .faq-accordion {
        padding: 24px 35px 24px 32px;
    }

    .faq-accordion__line {
        margin: 16px 0;
    }

    .faq-accordion__title {
        font-size: 20px;
        line-height: 26px;
    }
    
    .faq-accordion {
        margin: 0 auto;
    }

    .faq-accordion__body {
        margin-top: 8px;
    }

    .footer {
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 56px;
    }
    
    .logo-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    .copyright {
        margin-top: 24px;
        text-align: center;
    }
}

@media screen and (max-width: 656px) {

    .logo-menu {
       justify-content: center;
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 388px) {
    .how-use__item--blur {
        padding: 72px 32px 71px;
    }
}

@media screen and (max-width: 360px) {
    .app-store__img--iphone {
        width: 288px;
    }
}